set default=0
set timeout=3

menuentry "MyLinux 6.12.43 (serial console)" {
  linux /boot/vmlinuz console=ttyS0,115200 rdinit=/sbin/init
  initrd /boot/initramfs.gz
}

menuentry "MyLinux 6.12.43 (VGA console)" {
  linux /boot/vmlinuz console=tty1 rdinit=/sbin/init
  initrd /boot/initramfs.gz
}
